
@{
    ViewBag.Title = "NotAuthorized";
    Layout = null;
    var OrgLogoBlack = Session["OrgLogoBlack"] != null ? Convert.ToString(Session["OrgLogoBlack"]) : string.Empty;
    var OrgName = Session["OrgName"] != null ? Convert.ToString(Session["OrgName"]) : string.Empty;
    var CopyRight = Session["CopyRight"] != null ? Convert.ToString(Session["CopyRight"]) : string.Empty;

}


<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PEP Tool</title>
    <style nonce="@ViewBag.Nonce">
        body {
            background: #f2f3f8;
            padding: 0px;
            text-align: center;
            font-family: arial;
            font-size: 100%;
            color: #333333;
            overflow: hidden;
        }

        div {
            width: 80%;
            margin: auto;
            height: 100vh;
        }

        h1 {
            font-size: 150%;
        }

        h2 {
            font-size: 100%;
            font-weight: normal;
        }

        a {
            display: inline-block;
            width: auto;
            padding: 10px 15px;
            transition: transform .2s;
            color: #2873f0;
            border: 1px solid #2873f0;
            border-radius: 50px;
            text-decoration: none;
        }

            a:hover {
                color: #ffffff;
                background: #2873f0;
                transform: scale(1.2);
            }

        .ph-20 {
            padding: 3% 0;
        }

        .err-img-logo { width: 180px; }
        .err-img-illus { width: 200px; }
    </style>
</head>
<body>

    <div>
        @*<p><img src="~/images/Infogain_Logo1.png" alt="" style="width:180px;"></p>*@
        <p><img id="orgLogo_na" src="@OrgLogoBlack" alt="@OrgName" class="err-img-logo"></p>
        @*<p><img id="orgLogo_na" src="" alt="" style="width:180px;"></p>*@
        <h1>Access Denied</h1>
        <h2>You are not authorized to access this page</h2>
        <p class="ph-20"><img src="~/images/error.png" alt="error" class="responsive err-img-illus"> </p>
        <p>@Html.ActionLink("Go back to the previous page", "Index", "Login")</p>
        <p id="lblCopyRight_na" class="ph-20">@CopyRight</p>

    </div>

    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/PEPScripts/CommonConfig.js"></script>
    <script type="text/javascript">
     $(document).ready(function () {
         // Initialize GlobalAppConfig and load dynamic content
        
     });
    </script>

</body>

</html>
