@using EmpPEP.UI.Views.KRA;
<div class="table-responsive">
    <table class="table table-striped tbl-my-kra" id="tblUploadKRAListGW">
        <thead>
            <tr>
                <th style="display: none">KRAId</th>
                <th>@KRA.strGoalType</th>
                <th>@KRA.strGoalDesc</th>
                <th>@KRA.strWeightage</th>
                <th>@KRA.strMeasure</th>
                <th>@KRA.strKRAStartDate</th>
                <th>@KRA.strKRAEndDate</th>
              
            </tr>
        </thead>
        
    </table>
</div>
